#sidebar {
    width: 170px;   
}

#panel-wrapper {
    position: fixed;
    right: 0;
}

#core-wrapper {
    padding-right: 1rem !important;
}

.readtime {
    display: none;
}


@media (min-width: 850px) {
    #topbar-wrapper {
        left: 170px;
    }

    #main-wrapper, footer {
        margin-left: 170px;
    }
}


@media (min-width: 1200px) {
    #panel-wrapper {
        width: 250px;
    }
}


@media (min-width: 1650px) {
    #main-wrapper {
        margin-left: 270px;
    }

    #panel-wrapper {
        width: 300px;
    }

    #sidebar {
        width: 270px;

        & .profile-wrapper {
            
            & #avatar {
                margin-left: 4.5rem;
            }
        }

        ul {
            padding-left: 1rem;
        }

        .sidebar-bottom {
            padding-left: 3rem;
        }
    }

    #topbar {
        max-width: 1040px;
    }

    #main {
        max-width: 1140px;
    }
}

@media (min-width: 2100px) {
    #topbar {
        max-width: 1040px;
    }

    #main {
        max-width: 1140px;
    }
}